{
  "env": {
    "native-prod": {
      "presets": [
        "react-native"
      ]
    },
    "web-prod": {
      "presets": [
        "es2015"
      ]
    }
  },
  "presets": [
    "es2015",
    "react-native"
  ]
}
